version: "3.8"

services:
  #backend
  backend:
    hostname: backend
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - .env
    depends_on:
      - postgres
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev
    ports:
      - 3000:3000
    networks:
      - main_network

  postgres:
    image: postgres:alpine
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Tricomjgq301995
      POSTGRES_DB: Talk2Me
    ports:
      - "5433:5433"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - main_network

networks:
  main_network:
